<link rel="stylesheet" href="/allquiz.css">
<div class="allquiz-container">
    <div class="label">
        Quizes
    </div>
    <div class="quiz-list">
        <% data.map((item)=>{ %>
            <div class="quiz">
                <div class="name">
                    <div class="link-quiz">
                        <a href="/quiz/admin/<%= item._id %>">
                            <%=item.name%>
                        </a>
                    </div>
                </div>
                <div class="edit" onclick="editpage(`<%=item._id%>`)">
                    <div class="button-edit">
                        <i class="fa fa-pen" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="copy-link" id=<%=item._id%> onclick="copyText(`<%=item._id%>`)">
                    Reveal the link
                </div>
            </div>
        <% }) %>
    </div>
</div>
<script>
    const copyText=(id)=>{
        document.getElementById(id).innerHTML=`${window.location.origin}/quiz/${id}`
        navigator.clipboard.writeText(`${window.location.origin}/quiz/${id}`)
    }
    const editpage=(id)=>{
        location.assign(`${window.location.origin}/quiz/edit/${id}`)
    }
</script>