<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.quizDetails.name %></title>
</head>
<body>
    <h1><%=data.quizDetails.name%></h1>
    <h1>Author : <%=data.quizDetails.author%></h1>
    <% data.questions.map((item)=>{ %>
        <div class="ques">
            <div class="question">
                <h4>
                    <%= item.ques %>
                </h4>
            </div>
            <div class="options">
                <% item.options.map((item2, index)=>{ %>
                    <input type="radio" class="<%= item._id+' '+index %>" value=<%=item2%> name=<%=item._id%>>
                        <%= item2 %>
                    <%})%>
                <button onclick="myfunction(`<%= item._id%>`)">Clear Input</button>
            </div>
        </div>
        <%})%>
        <button onclick="submit()">Submit</button>
</body>
<script>
    var obj=[]
    var temp
    temp=`<%- JSON.stringify(data.questions) %>` 
    obj=JSON.parse(temp)
    console.log(obj)
    const myfunction=(val)=>{
        var radioButtons=document.getElementsByClassName(`${val}`)
        for(i=0;i<=radioButtons.length-1;i++)
        {
            radioButtons[i].checked=false
        }
    }
    const submit=()=>{
        var submission=[]
        obj.map((item)=>{
            var radioButtons=document.getElementsByClassName(`${item._id}`)
            var temp={};
            temp.qid=item._id;
            temp.submittedAnswer=null
            for(i=0;i<=radioButtons.length-1;i++)
            {
                if(radioButtons[i].checked==true)
                    temp.submittedAnswer=radioButtons[i].value
            }
            submission.push(temp)
        })
        console.log(submission)
    }
</script>

</html>