<link rel="stylesheet" href="/sidebar.css">
<% var menu=[{title: 'My Quizes', path: 'allquiz'},{title: 'Create Quiz', path: 'newquiz'},{title: 'Evaluation', path: 'evaluation'}] %>
<div class="sidebar-container">
    <div class="menu-options">
        <% menu.map((item)=>{ %>
            <div class="menu-option" onclick="navigate(`<%= item.path %>`)">
                <div class="menu-label <%=item.path%>">
                    <%=item.title%>
                </div> 
            </div>
        <% }) %>
    </div>
</div>
<script>
    console.log(`<%=select%>`)
    window.onload=()=>{
        var option=`<%=select%>`
        if(option==='allquiz')
        {
            document.querySelector('.menu-label.allquiz').style.color='rgb(185, 11, 156)'
            document.querySelector('.menu-label.newquiz').style.color='white'
            document.querySelector('.menu-label.evaluation').style.color='white'
        }
        else if(option==='newquiz')
        {
            console.log('hi2')
            document.querySelector('.menu-label.allquiz').style.color='white'
            document.querySelector('.menu-label.newquiz').style.color='rgb(185, 11, 156)'
            document.querySelector('.menu-label.evaluation').style.color='white'
        }
        else if(option==='evaluation')
        {
            document.querySelector('.menu-label.allquiz').style.color='white'
            document.querySelector('.menu-label.newquiz').style.color='white'
            document.querySelector('.menu-label.evaluation').style.color='rgb(185, 11, 156)'
        }
    }
    const navigate=(path)=>{
        if(path==='allquiz')
            location.assign(`${window.location.origin}`)
        else
            location.assign(`${window.location.origin}/${path}`)
    }
    var state=false
    const showMenu=()=>{
        
        if(!state)
        {
            document.querySelector('.sidebar-container').style.display='block'
            state=true
        }
        else
        {
            document.querySelector('.sidebar-container').style.display='none'
            state=false
        }
    }
</script>